@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

/********************************************************/
html{
	font-family: 'Noto Sans KR', sans-serif;
}

html,
body{
	margin: 0;
	padding : 0;
	height : 100%;
}
.container{
	min-height:100%;
	position : relative;
	
	align-items: center;
	justify-content: center;
}
.carousel-inner{
	height : 500px;
	overflow: hidden;
}
.carousel-indicators{
	color : red;
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}

#myCarousel{
	margin-top:100px;
/*	padding-bottom: 170px;	*/
	width: 1000px;
	height: 500px;
	width: 100%;
	text-align: center;
}

.totalContainer{
	margin: 0px 0px 50px 0px;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex; 
	justify-content: center;
	align-items: center;
}

#mainPageHeader{
	background: white; 
	position: fixed; 
	width: 100%; 
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px 0px;
	z-index: 100; 
	top: 0; 
	left: 0;
}

/* 헤더 전체를 감싸는 컨테이너 */
.headerContainer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0px 108px;
	
}

/* 마이페이지 버튼 */
#mypage{
	display: none;
	height:30px;
	width:130px;
	border:1.5px solid #f77;
	background:white;
	color:#f77;
	margin-right:10px;
	margin-bottom:-10px;
	margin-left:10px;
	float:left;
}

.logoContainer{
	margin: 0px auto;
}

/* 로고의 사이즈 조절 */
#logo{
	
	width: auto;
	height: 30px;
}

.searchContainer{
	width: 300px;
    height: 62px;
    display: flex;
    align-items: center;
    float : right;
  	margin: 0px 0px 0px 24px;
}

.searchLabel{
    background: url("image/search.svg") 9px 9px no-repeat rgb(245, 245, 247);
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    padding: 7px 10px 8px 36px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.searchBox{
	flex: 1 1 0%;
	height: 28px;
}

/* search 칸 모양 */
.inputSearch{
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -0.3px;
	padding: 0px 0px 1px;
    border: 0px;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

/* search에 입력시 나오는 테두리 삭제 */
.inputSearch:focus{
	outline: none;
}

/* 헤더에 있는 로그인 버튼 컨테이너  */
.BoardButtonContainer{
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 24px;
	height: 62px;
}
#board{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	cursor: pointer;
	background: transparent;
	color: rgb(116, 116, 123);
	margin: 15px 0px;
	padding: 0px;
	border: 0px;
}
.LoginButtonContainer{
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 24px;
	height: 62px;
}

/* 헤더에 있는 로그인 버튼  */
#login{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	cursor: pointer;
	background: transparent;
	color: rgb(116, 116, 123);
	margin: 15px 0px;
	padding: 0px;
	border: 0px;
}

/*로그아웃버튼*/
#logout{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	background: transparent;
	color: rgb(53, 53, 53);
	margin: 0px 0px 0px 20px;
	padding: 5px 14px 6px;
	border: 1px solid rgba(116, 116, 123, 0.5);
	border-radius: 6px;
}

/* 헤더에 있는 회원가입 버튼 컨테이너  */
.signUpButtonContainer{
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 24px;
	height: 62px;
}

/* 헤더에 있는 회원가입 버튼  */
#signUp{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	background: transparent;
	color: rgb(53, 53, 53);
	margin: 15px 0px;
	padding: 5px 14px 6px;
	border: 1px solid rgba(116, 116, 123, 0.5);
	border-radius: 6px;
}

.sectionContainer{
	margin-bottom: 42px;
}


button:focus {border: none; outline: none;}

input:focus{border: none; outline: none;}

.disableBodyScrolling {
    overflow: hidden !important;
}

#backScreen{
	display: none;
	position: fixed;
	margin: 0px;
	background: rgba(0, 0, 0, 0.56);
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100;
}

.loginContainer{
	width: 375px;
	height: auto;
	padding: 20px 0px;
	z-index: 102;
	background: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px;
	border-radius: 6px;
}


.loginButton{
	background: #FFB7B7;
	border: none;
	border-radius: 6px;
	color: white;
	width: 100%;
	height: 44px;
	margin: 10px 0px 0px;
	cursor: pointer;
}

.signUpButton{
	background: #FFB7B7;
	border: none;
	border-radius: 6px;
	color: white;
	width: 100%;
	height: 44px;
	margin: 10px 0px 0px;
	cursor: pointer;
}




/* 푸터 */
footer{
	background-color: #1c1d1f;
    width: 100%;
    height: 170px; /* footer의 높이 */
    position: relative;  
    bottom: 0;
    left: 0;
    
    
}

.siteInfoConatiner{
	color: #a5a5a7;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 22px;
	position: relative;
	left: 100px;
}

.makerInfoConatiner{
	color: #848485;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 22px;
	position: relative;
	left: 100px;
	margin-top: 13px;
}

.wrapper {
	margin: 0 auto;
}

/*테스트*/

.wrapper .allGame {
    clear: both;
    position: relative;
    width: 100%;
    padding-left: 24px;
    margin: 0 auto;
    background-color: #f8f9fa;
}

.wrapper .allGame .game {
    position: relative;
    display: block;
    width: 255px;
    cursor: pointer;
}

.wrapper .allGame>ul li {
    float: left;
    display: block;
    width: 255px;
}

.wrapper .allGame>ul:after {
    content: "";
    display: block;
    clear: both
}

.wrapper .allGame .pc.cardView {
    padding: 15px 0 40px
}

.wrapper .allGame .pc.cardView li {
    height: 230px;
    margin: 0 24px 60px 0
}

.wrapper .allGame .pc.cardView .gameName span {
    display: block;
    width: 262px;
    padding-right: 24px;
    height: 36px;
    margin: 0 auto;
    word-wrap: break-word
}

.wrapper .allGame .pc.cardView .game {
    height: 230px;
    background-color: #fff;
    transition: all .15s linear;
    cursor: pointer
}

.wrapper .allGame .cardView .none {
    margin-top: 0!important;
    height: 320px
}

.wrapper .allGame .pc.cardView .game:active, .wrapper .allGame .pc.cardView .game:hover {
    box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
    transition: all .2s linear
}

.wrapper .allGame .pc.cardView .game:active .gameImg img, .wrapper .allGame .pc.cardView .game:hover .gameImg img {
    transition: all .6s cubic-bezier(.23,1,.32,1);
    transform: scale(1.1) translateZ(0)
}
.wrapper .allGame .pc.cardView .gameImg {
    position: relative;
    display: block;
    width: 255px;
    height: 170px;
    overflow: hidden
}

.wrapper .allGame .pc.cardView .gameImg:after {
    content: "";
    display: block;
    width: 255px;
    height: 170px;
    background-color: #000;
    opacity: .1
}

.wrapper .allGame .pc.cardView .gameImg:after, .wrapper .allGame .pc.cardView .gameImg img {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .15s cubic-bezier(.23,1,.32,1)
}

.wrapper .allGame .pc.cardView .gameImg img {
    transform: scale(1) translateZ(0)
}

img{
	width: 100%;
	height: auto;
	margin: auto;
    display: block;
}




